# Whether or not this is a local development setup
DEV_MODE=1
FLASK_DEBUG=1

# The mongo uri (necessary for running app.py)
MONGO_URI=mongodb://localhost:27017/

# List of battle servers to be used
BATTLE_SERVER_LIST=1.1.1.1:5050, 2.2.2.2:5050

# Password used by Flask to communicate between server <--> client securely
FLASK_SECRET_KEY=secret

# Password used between server <--> battleserver for secure communication
CONNECTION_KEY=random-string

# This does not need to be set if DEV_MODE is 1
ONLINE_URL=https://example.com

# Mail config, currently unused
MAIL_USERNAME=username
MAIL_PASSWORD=password
