MAIL_USERNAME=username
MAIL_PASSWORD=password
MONGO_URI=mongo-uri
CONNECTION_KEY=random-string
DEV_MODE=1
ONLINE_URL=https://example.com
BATTLE_SERVER_LIST=1.1.1.1:5050, 2.2.2.2:5050
FLASK_SECRET_KEY=secret
FLASK_DEBUG=1