<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crazy Penguin Wars</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      background: #000;
    }
    #flashContainer {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="flashContainer">
    <object 
      type="application/x-shockwave-flash"
      data="./assets/GameLauncher.swf" 
      width="100%" 
      height="100%">
      
      <param name="movie" value="./assets/GameLauncher.swf">
      <param name="base" value="http://127.0.0.1:5055/assets/">
      <param name="allowFullScreen" value="true">
      <param name="allowScriptAccess" value="always">
      <param name="wmode" value="direct">
      <param name="flashvars" value="uid={{ID}}&token={{TOKEN}}&language=en&data=http://127.0.0.1:5055/assets/&server=http://127.0.0.1:5055/api/&env=dev&platform=SpilGamesPortals&platformServerUrl=http://127.0.0.1:5055,https://crazypenguinwars.xyz&version=0.69.1&secure=false&platformUserId={{ID}}
      ">
    </object>
  </div>
</body>
</html>
